span{
	border:2px solid #000;	
}
.inline-block{
	width: 50px;
	height: 50px;
	padding: 10px;
	margin: 10px 2px;
	display: inline-block;
	position: relative;
	top: -10px;
}
.block_second{
	position: relative;
	top:-20px;
}
.block , .block_1  , .block_3{
	border:2px solid #000;
	margin:0;
	display: block;
}
.block_1 , .block_3{
	padding: 10px;
}
.block{
	width: 39px;
}
.block_1 , .block_3{
	width: 50px;
	height: 50px;
}
ol li{
	list-style-type: upper-alpha;
}